/node_modules
/public/fonts/vendor
/public/hot
/public/storage
/public/userfiles
/public/js/ckfinder
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
