div.article-text {
    margin-bottom: 30px;
}

div.button-area {
    margin-top: 30px;
}

span.post-date-time {
    margin-bottom: 30px;
}

div.tab-page {
    display: none;
}

div.is-active {
    display: block;
}
